* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #081b29;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    margin-top: 150px;
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #00abf0;
    margin-right: 15px;
    margin-bottom: 20px;
    font-size: 25px;
}

.social-icons a i {
    text-decoration: none;
    font-size: 30px;
    color: #ababab;
    margin-right: 15px;
    margin-bottom: 10px;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover i {
    color: #00abf0;
    transform: translateY(-5px);
}

.btn {
    display: inline-block;
    background: #00abf0;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn2 {
    padding: 14px 20px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    display: inline-block;
    background: #00abf0;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s;
}